.geoSentiTime-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* height: 100vh; */
}
/* geoTweet component */
.geo-tweet-barchart {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 700px;
  padding: 40px 20px;
}
.bgraph {
  min-width: 650px;
  min-height: 523px;
}
.grapheads {
  size: 24px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: left;
  padding: 20px;
}
.select-muis {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}
.select-muis > div {
  width: 204px;
  height: 50px;
}
@media screen and (max-width: 650px) {
  .geoSentiTime-container {
    flex-direction: column;
  }
  .geo-tweet-barchart {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .geoSentiTime-container {
    padding: 50px;
  }
  .bgraph {
    min-width: 350px;
    min-height: 323px;
  }
}
