.App {
  text-align: center;
}
/* Header component */
.appstek-logo {
  max-height: 60px;
  max-height: 30px;
}
.header-container {
  padding: 30px;
}
.heading {
  padding-left: 220px;
}
/* main donught container */
.main-donught-container {
  background-color: #e6f5ff;
}
/* DonughtChartTweets */
.label-center {
  font-size: 30px;
  font-weight: bold;
  color: "white";
}
.color-tweet-represent {
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: flex-start;
  padding-left: 160px;
  margin-left: 50px;
  gap: 10px;
}
.color-tweet-represent > div {
  align-self: center;
  content: "";
  /* justify-items: center; */
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.color-tweet-represent > span {
  align-self: center;
}
/* hide Scroll */
.main-donught-container::-webkit-scrollbar {
  width: 0 !important;
}
h1.something {
  color: #1d9bf0;
  font-size: 44px;
}
p {
  font-size: 24px;
}
