.App {
  text-align: center;
  /* background-color: #1d9bf0; */
}
/* Header component */
.appstek-logo {
  max-height: 60px;
  max-height: 30px;
}
.header-container {
  padding: 30px;
}
.heading {
  padding-left: 220px;
  /* font-weight: ; */
}
/* main donught container */
.main-donught-container {
  background-color: #e6f5ff;
}
/* DonughtChartTweets */
.label-center {
  font-size: 30px;
  font-weight: bold;
  color: "white";
}
.color-tweet-represent {
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: flex-start;
  padding-left: 160px;
  margin-left: 50px;
  gap: 10px;
}
.color-tweet-represent > div {
  align-self: center;
  content: "";
  /* justify-items: center; */
  height: 22px;
  width: 22px;
  border-radius: 50%;
}
.color-tweet-represent > span {
  align-self: center;
}
/* hide Scroll */
.main-donught-container::-webkit-scrollbar {
  width: 0 !important;
}
h1.something {
  color: #1d9bf0;
  font-size: 44px;
}
p {
  font-size: 24px;
}
/* footer */
footer {
  background-color: black;
  color: white;
}
/* word cloud */
.word-cloud {
  height: 520;
  width: 500;
}
.word-cloud > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
/* gauge Component */
.gauge-component {
  color: black;
}
.recharts-legend-wrapper {
  right: -90px !important;
}
.recharts-legend-wrapper > ul li {
  padding: 10px !important;
}
